<style>
  .formlabel {
    margin: 0px;
    padding: 0px;
  }

  .formtext {
    margin: 0px;
    padding: 10px 0px;
  }
</style>


<form id="form" class="form" action="{{ site.formcarry }}" method="POST" enctype="multipart/form-data">
  <div class="form__subcontainer">
    <div>
      <label class = "formlabel" for="form-name">Name</label>
      <input class = "formtext" type="text" name="Name" id="form-name" required>
    </div>
    <div>
      <label class = "formlabel" for="form-title">Title</label>
      <input class = "formtext" type="text" name="title" id="form-title" required>
    </div>
  </div>

  <div>
    <label class = "formlabel" for="form-description">Description</label>
    <input class = "formtext" type="text" name="description" id="form-description" required>
  </div>

  <div>
      <label class = "formlabel" for="form-picture">Cover Image jpg, any other pics ya wanna include (have to pay to get sent so text to Suzanne)</label>
      <input type="file" name="picture" id="form-main-image" multiple>
  </div>

  <div>
    <label class = "formlabel" for="form-content">Post content</label>
    <textarea class = "formtext" name="message" id="form-content" rows="4"></textarea>
  </div>

  <div class="form__submit">
    <div class="form__btn">
      <input type="submit" value='"Post"'>
    </div>
  </div>

  <p class="form__message"></p>
</form>
